<robot name="cone">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="1.6356746780701403e-07 1.0883963112052658e-14 -0.006171390164247558" />
			<geometry>
				<mesh filename="cone.obj" scale=".001 .001 .001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="cone_vhacd.obj" scale=".001 .001 .001" />
			</geometry>
		<origin rpy="0 0 0" xyz="1.6356746780701403e-07 1.0883963112052658e-14 -0.006171390164247558" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>