<robot name="cylinder_side">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="-1.2878155389694833e-08 9.570556488741103e-09 -0.007734891111219653" />
			<geometry>
				<mesh filename="cylinder_side.obj" scale=".001 .001 .001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="cylinder_side_vhacd.obj" scale=".001 .001 .001" />
			</geometry>
		<origin rpy="0 0 0" xyz="-1.2878155389694833e-08 9.570556488741103e-09 -0.007734891111219653" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>