<robot name="cylinder">
	<link name="_name">
		<visual>
			<origin rpy="0 0 0" xyz="1.207055431985952e-19 -2.971213371042343e-19 -0.006767453201837254" />
			<geometry>
				<mesh filename="cylinder.obj" scale=".001 .001 .001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 1.0 1.0 1.0" />
			</material>
		</visual>
		<collision>
			<geometry>
				<mesh filename="cylinder_vhacd.obj" scale=".001 .001 .001" />
			</geometry>
		<origin rpy="0 0 0" xyz="1.207055431985952e-19 -2.971213371042343e-19 -0.006767453201837254" /></collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
</robot>